<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muzi.quitsmoking.mapper.AchievementMapper">

    <resultMap id="BaseResultMap" type="com.muzi.quitsmoking.model.entity.Achievement">
            <id property="achievement_id" column="achievement_id" />
            <result property="title" column="title" />
            <result property="description" column="description" />
            <result property="icon" column="icon" />
            <result property="type" column="type" />
            <result property="condition_type" column="condition_type" />
            <result property="condition_value" column="condition_value" />
            <result property="points" column="points" />
            <result property="level" column="level" />
            <result property="is_hidden" column="is_hidden" />
    </resultMap>

    <sql id="Base_Column_List">
        achievement_id,title,description,icon,type,condition_type,
        condition_value,points,level,is_hidden
    </sql>
</mapper>
