<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muzi.quitsmoking.mapper.HealthTimelineMapper">

    <resultMap id="BaseResultMap" type="com.muzi.quitsmoking.model.entity.HealthTimeline">
            <id property="timeline_id" column="timeline_id" />
            <result property="time_point" column="time_point" />
            <result property="time_value" column="time_value" />
            <result property="title" column="title" />
            <result property="description" column="description" />
            <result property="icon" column="icon" />
            <result property="order_num" column="order_num" />
            <result property="days_required" column="days_required" />
    </resultMap>

    <sql id="Base_Column_List">
        timeline_id,time_point,time_value,title,description,icon,
        order_num,days_required
    </sql>
</mapper>
