<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muzi.quitsmoking.mapper.LikeRecordMapper">

    <resultMap id="BaseResultMap" type="com.muzi.quitsmoking.model.entity.LikeRecord">
            <id property="like_id" column="like_id" />
            <result property="user_id" column="user_id" />
            <result property="target_id" column="target_id" />
            <result property="type" column="type" />
            <result property="created_at" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        like_id,user_id,target_id,type,created_at
    </sql>
</mapper>
