<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muzi.quitsmoking.mapper.ToolUsageMapper">

    <resultMap id="BaseResultMap" type="com.muzi.quitsmoking.model.entity.ToolUsage">
            <id property="usage_id" column="usage_id" />
            <result property="user_id" column="user_id" />
            <result property="tool_id" column="tool_id" />
            <result property="usage_time" column="usage_time" />
            <result property="duration" column="duration" />
            <result property="feedback" column="feedback" />
    </resultMap>

    <sql id="Base_Column_List">
        usage_id,user_id,tool_id,usage_time,duration,feedback
    </sql>
</mapper>
